@charset "utf-8";

/* 
    Paleta de cores
    Verde: #49a09d
    rojo: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* tudo que tiver fora da borda fica escondido usando overflow - hidden */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.143);
    transition: width 400ms, height 400ms;
}

#login>#imagem {
    background-image: url("/imagem/img21.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
    background-position: bottom center;
}

#login>#formulario {
    display: block;
    padding: 10px;
}

#login>#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

#login>#formulario>p {
    font-size: 0.8em;
}